<h1>Hello!</h1>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <!-- quantity -->
      <th>Qty</th>
    </tr>
  </thead>

  <% @items.each do |item| %>
  <tbody>
    <tr>
      <td><%= item[0].id %></td>
      <td><%= item[0].title %></td>
      <td><%= item[0].price %></td>
      <td><%= item[1] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
