<h1>Welcome to PizzaShop</h1>
<div class="container">
  <div class="row">
    <div class="col-md">
      <img src="/images/hawaiian.jpg" alt="..." class="img-thumbnail">
      <button class="btn btn-primary" onclick="something()">Order me!</button>
    </div>
    <div class="col-md">
      <img src="/images/pepperoni.jpg" alt="..." class="img-thumbnail">
      <button class="btn btn-primary" onclick="something()">Order me!</button>
    </div>
    <div class="col-md">
      <img src="/images/veg.jpg" alt="..." class="img-thumbnail">
      <button class="btn btn-primary" onclick="something()">Order me!</button>
    </div>
  </div>
</div>
